/* 基础设置 */
.container {
    width: 1190px;
    margin: 0 auto;
}


/* #region 顶部导航条 start */
.topbar {
    height: 30px;
    background: #ECECEC;
}

.welcome {
    height: 30px;
    line-height: 30px;
    font-size: 0;
    color: #666;
}

.welcome span,
.welcome a {
    font-size: 12px;
}

.welcome .hello {
    margin-right: 28px;
}

.welcome .login {
    padding-right: 10px;
    border-right: 1px solid #666;
}

.welcome .register {
    padding-left: 10px;
}

.topbar-nav .list{
    height: 30px;
    line-height: 30px;
}

.topbar-nav .list li{
    float: left;
}

.topbar-nav .list li a{
    padding: 0 15px;
    border-right: 1px solid #666;
}

.topbar-nav .list li:first-child a{
    padding-left: 0;
}

.topbar-nav .list li:last-child a{
    padding-right: 0;
    border: 0;
}

/* #endregion 顶部导航条 end */

/* #region 搜索框 start */
.header{
    height: 120px;
    background-color: skyblue;
}

.header .header-search form {
    margin-top: 42px;
    font-size: 0;
}

.header .header-search form input {
    width: 508px;
    height: 34px;
    border: 1px solid rgba(221,48,45,1);
    border-radius: 5px 0 0 5px;
    font-size:12px;
    text-indent: 8px;
}

.header .header-search form button {
    width: 80px;
    height: 36px;
    background-color: #DD302D;
    vertical-align: top;
    background-image: url('../images/serch_icon.png');
    background-repeat: no-repeat;
    background-position: 28px 6px;
    border-radius: 0 5px 5px 0;
    
}
/* #region头部start */
